# What is specified in the Dockerfile is a default. It and can be overridden by using the 
# docker command which is what docker-compose does.

version: '3'
services:
    ###################################
    # ArangoDB
    ###################################
    arangodb-local:
        image: arangodb:3.5
        environment:
        - ARANGO_NO_AUTH=1
        volumes: # PERSISTENT DATA
        - ./data/arangodb:/var/lib/arangodb3            # database directory to store the collection data
        - ./data/arrangodb-apps:/var/lib/arangodb3-apps # apps directory to store any extensions
        ports:
        - '8529:8529'
        networks:
        - dev-local-network
    server:
        image: zip-server
        container_name: zs
        ports: 
            - "3001:3001"
        build:
            context: ./api/
            dockerfile: Dockerfile
        environment: 
            - DB_HOST=http://arangodb-local:8529/
        volumes: # PERSISTENT DATA       
            - ./api/node_modules:/app/api/node_modules
        depends_on: 
            - arangodb-local
        networks:
            - dev-local-network
    client:
        image: zip-client
        container_name: zc
        ports:
            - "3000:3000"
        build:
            context: ./client/
            dockerfile: Dockerfile
        environment: 
            - SERVER_HOST=http://server:3001/
        volumes: # PERSISTENT DATA       
            - ./client/node_modules:/app/client/node_modules
        depends_on: 
            - server
        networks:
            - dev-local-network
        

networks:
  dev-local-network:
    driver: bridge